.block_float {
     float: left; /* Обтекание по правому краю */
     background: #fd0; /* Цвет фона */
     border: 1px solid black; /* Параметры рамки */
     padding: 20px; /* Поля вокруг текста */
     margin: 0 20px 0 0; /* Отступ справа */
     width: 40%; /* Ширина блока */
     text-align: center; /* выровнять текст и картинки по горизонтали */
 }

.block--text {
    padding: 0 20px 0; /* Поля вокруг текста */
}

.block_display {
    display: inline-block;
    background: #2F0; /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 20px; /* Поля вокруг текста */
    width: 40%; /* Ширина блока */
    text-align: center; /* выровнять текст и картинки по горизонтали */
}